<img src="https://www.hollywoodreporter.com/wp-content/uploads/2023/01/LVBDA_103_Unit_04094R.jpg?w=1296&h=730&crop=1" style="width:700px;height:600px;">
<%- include('../partials/header') %>
<h1><%=title%></h1>
<p>The Lying Life of Adults is a coming-of-age story set in Naples in the '90s, following Giovanna, a teenage girl whose parents have set out a certain path for her. She's unsure of who she is and her grades begin to suffer. After overhearing her father comparing her to his estranged sister, Giovanna seeks her out and is introduced to Vittoria, who is everything Giovanna's parents are not. Vittoria and Andrea argue about whose life is a lie, but Giovanna learns that they're both right. My Brilliant Friend's Lenu and Lila are constantly pushed to different extremes, yet each transformation is believable.</p>
<p>Giordana Marengo makes her on-screen debut in the role of Giovanna. Joining her are Alessandro Preziosi (Medici) and Pina Turco (The Vice of Hope) as Giovanna's parents Andrea and Nella, Valeria Golino (Rain Man) as Aunt Vittoria, and Adriano Pantaleo (Carlo & Malik) as Rosario. Other cast members include Rossella Gamba as Angela, Azzurra Mennella as Ida, Raffaella Rea as Costanza, Biagio Forestieri as Mariano, Susy Del Giudice as Margherita, Giuseppe Brunetti as Corrado, Maria Vera Ratti as Giuliana, Gianluca Spagnoli as Tonino, and Giovanni Buselli as Roberto.
</p>

<%- include('../partials/footer') %>