 <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcST92y0tPreJ6G4hDwuwsDDVWjcAgX6BumwyNm-fLu2hg&usqp=CAU&ec=48665698"  style="width:500px;height:500px;">
<%- include('../partials/header') %><h1><%=title%>
</h1> 
    <p> This novel has a clever yet straightforward idea that's more relevant than most people realize. Ferrante doesn't give specific dates in the story, which highlights the conflict between the educated elite and the uneducated during a time of social change. The book also explores the impact of family myths and fake news. Thoroughly enjoyed it! Praise the translator! </p>
    
  
  <%- include('../partials/footer') %> 